.containerRegisterForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.inputRegister {
    background: #FF66C475 !important;
    width: 17vw;
}

.divButton {
    width: 70vw;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    box-sizing: border-box;
}

.stepNumber {
    font-size: 10px;
    font-weight: 700;
    color: #677077;
}

.stepText {
    font-size: 18px;
    font-weight: 700;
}

.formRegister {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 70px;
    justify-items: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .formRegister {
        display: flex;
        flex-direction: column;
    }

    .inputRegister {
        width: 100%;
    }
}